/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:  #4caf50;
    color: white;
  }
  
  .navbar-logo .logo {
    height: 100px;  /* Adjust the size as necessary */
    width: auto;
  }

  .navbar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;  /* This will fill the available space */
  }
  
  .search-bar {
    padding: 8px;
    width: 500px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
  }
  
  .nav-links {
    display: flex;
    gap: 60px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #8646e1  /* Highlight color */
  }
  
  .logout-btn {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .logout-btn:hover {
    background-color: #ff1a1a;
  }
  