/* Full page background with image */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/images/background2.png') no-repeat center center/cover;
    font-family: 'Arial', sans-serif;
  }
  
  /* Login container with a larger form */
  .login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  /* Title Styling */
  .login-title {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  /* Label */
  .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555;
  }
  
  /* Input Fields */
  .form-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  /* Input Focus */
  .form-input:focus {
    outline: none;
    border-color:#8646e1;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
  }
  
  /* Button Styling */
  .login-button {
    width: 100%;
    padding: 1rem;
    background-color: #6a11cb;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Button Hover */
  .login-button:hover {
    background-color: #4CAF50;
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .login-button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .login-button {
    background-color:#8646e1;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover:not(:disabled) {
    background-color:  #4CAF50;
  }
  