.exercise-card {
  width: 300px; /* Adjust as needed */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.exercise-card-image {
  width: 100%;
  height: 180px; /* Set a fixed height */
  overflow: hidden;
}

.exercise-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.exercise-card-content {
  padding: 15px;
}

.exercise-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.exercise-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.exercise-button {
  padding: 10px 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.exercise-button:hover {
  background-color: #45a049;
}

.exercise-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

.close-button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #ea1409;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
